
h1{
    text-align: center;
    font-family: fantasy;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2023/06/03/14/48/woman-8037822_640.png");
    background-size: cover;
  
  }
  
  
img{
    max-width: 30%;

}
p{
    text-align: left;
    
}
